<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <%= live_title_tag assigns[:page_title] || "Mafia", suffix: " · Phoenix Framework" %>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tag() %>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <header style="margin-bottom: 1rem">
      
    </header>
    <%= @inner_content %>
    <footer>
      <hr>
      <button id="theme">Change Theme</button>
      <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
        <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home)%>
      <% end %>
    </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
