
/* Table of contents of the custom changes to skeleton
––––––––––––––––––––––––––––––––––––––––––––––––––
- Colors
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Custom Classes
*/

/* Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #fff;
  --black: #222;
  --dirty-white-1: #777;
  --grayish-1: #555;
  --gray-1: #333;
  --dirty-white-2: #ccc;
  --grayish-2: #bbb;
  --gray-2: #888; 
  --palid: #D1D1D1;
  --teal: #33C3F0;
  --line: #E1E1E1;

  --text-color: var(--black);
  --background-color: var(--white);
  --primary-1: var(--grayish-1);
  --primary-2: var(--gray-1);
  --secondary-1: var(--grayish-2);
  --secondary-2: var(--gray-2);
  --third: var(--palid);
  --detail: var(--line);
  --accent: var(--teal); }
@media (prefers-color-scheme: dark) { 
  :root {
  --text-color: var(--palid);
  --background-color: var(--black);
  --primary-1: var(--grayish-2);
  --primary-2: var(--dirty-white-2);
  --secondary-1: var(--grayish-1);
  --secondary-2: var(--dirty-white-1);
  --third: var(--gray-1);
  --detail: var(--gray-1);
  --accent: var(--teal); }
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: var(--background-color);
  color: var(--text-color); }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: var(--primary-1);
  border-color: var(--secondary-1); }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: var(--primary-2);
  border-color: var(--secondary-2); }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: var(--background-color);
  border-color: var(--third); }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: var(--accent); }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  border-bottom-color: var(--detail); }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form {
  margin-bottom: 0rem; }
p {
  margin-bottom: 1rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-half-width {
  width: 45%; }
.clickable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */}
.clickable:hover {
  cursor: pointer; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Custom Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
main {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  margin-top: 5em;
  width: 100%;
  padding: 0 20px; }

@media (min-width: 400px) {
  main {
  width: 80%;
  padding: 0; } }
@media (min-width: 750px) {
  main {
  width: 60%; } }
@media (min-width: 1000px) {
  main {
  width: 50%; } }

table.table-selector {
  margin-bottom: 0;
  border-collapse: separate;
}
th:first-child,
td:first-child {
  padding-left: 1em;}
th.selected-tab {
  border-radius: 4px 4px 0 0;
  border: 1px solid var(--detail);
  border-bottom: transparent; }
.dead-player{
  font-style: italic;
  color: gray; }
.selected-player{
  font-weight: bold;
  border-radius: 4px;
  background-color: var(--detail); }
.game-msg {
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  background-color: var(--detail); 
  margin: .5em 0;}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}