:root {
	--red-but-not-black: #332c2c;
	--not-quite-greyple: #394044;

	--blurple: #7289DA;
	--blurple-dark: #5e77d4;
	--full-white: #FFFFFF;
	--greyple: #99AAB5;
	--dark-but-not-black: #2C2F33;
	--not-quite-black: #23272A;
	--actually-black: #000000;

	--text-color: var(--full-white);

	--primary-base: var(--not-quite-black);
	--primary-contrast: var(--dark-but-not-black);
	--primary-more-contrast: var(--not-quite-greyple);
	--primary-even-more-contrast: var(--greyple);

	--accent          : var(--blurple);
	--accent-contrast : var(--blurple-dark);

	--friendly          : var(--);

	--hostile           : var(--red-but-not-black);
}

.light-mode {

	--text-color: var(--actually-black);

	--primary-base: var(--full-white);
	--primary-contrast: var(--greyple);
	--primary-more-contrast: var(--not-quite-greyple);
	--primary-even-more-contrast: var(---dark-but-not-black);

	--accent          : var(--blurple-dark);
	--accent-contrast : var(--blurple);

	--friendly: var(--);

	--hostile: #9e8686;
}

body {
	background-color: var(--primary-base); }

footer {
	text-align: center; }

.code-input {
	width: 6rem; }

.textarea {
  padding: 6px 10px;
  display: block;
  overflow: hidden;
  resize: none; }

span:focus {
  outline: 0; }

.textarea[contenteditable]:empty::before {
  content: "Send a message";
  color: grey; }

.shaded {
	background-color: var(--primary-contrast);
	border-radius: 4px; }

.highlighted {
	background-color: var(--accent);
	border-radius: 4px; }

.red-shaded {
	background-color: var(--hostile);
	border-radius: 4px; }

.player-tag {
	padding: 1rem;
	padding-bottom: 0;
	margin-bottom: 1rem;
}
.player-card {
	display: inline-block;
	height: 10rem;
	width: 25%;
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
	padding: 6px 10px; }

.box{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(full-white);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box; }

  div.break{
  	margin-bottom: .5rem;
  }