<div class="row">

	<div class="six columns">
		<h4>Mafia</h4>
	</div>
	
	<div class="six columns">
		<button class="button-primary u-pull-right" phx-click="play">Play</button>
	</div>

</div>
<div class="row">
	<h5>Work in progress</h5>
	<p>Currently the mafia social deduction game is in work in progress</p>
</div>